---
interface Props {
  title: string;
  category: string;
  image: string;
  href: string;
}
const { title, category, image, href } = Astro.props;
---
<a href={href} class="card-project-item">
  <img class="card-project-item__img" src={image} alt={title} loading="lazy" />
  <span class="card-project-item__arrow"><i data-lucide="arrow-up-right"></i></span>
  <div class="card-project-item__panel">
    <span class="card-project-item__tag">
      <span class="card-project-item__dot"></span>
      {category}
    </span>
    <h3 class="card-project-item__title">{title}</h3>
  </div>
</a>
